@import "../../base";

.header {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $block-padding-left;
  padding-right: $block-padding-right;

  &-title {
    @include font-style($font-medium, $font-size-3, $color-black);
  }

  &-list__rels {
    list-style-type: none;
    padding: 0;
    margin: 0 -25px;
    display: flex;
    height: 24.8px;

    &-rel {
      @include font-style($font-regular, $font-size-2, $color-black);
      margin: 0 25px;
      cursor: pointer;
    }

    &-rel:hover {
      transition: 0.5s;
      color: $color-basic-blue;
    }

    &-rel:not(:hover) {
      transition: 0.5s;
    }

    &-rel:active {
      transition: 0.3s;
      transform: scale(0.9);
    }
  }
}

@media (max-width: 575px) {
  .header {
    justify-content: center;

    &-list {
      display: none;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    padding-left: $block-padding-left-4;
    padding-right: $block-padding-right-4;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    padding-left: $block-padding-left-3;
    padding-right: $block-padding-right-3;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding-left: $block-padding-left-2;
    padding-right: $block-padding-right-2;
  }
}
